@mixin set-font($font-family: inherit, $font-size: inherit, $font-color: inherit, $font-style: inherit, $font-weight: inherit) {
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	font-style: $font-style;
	font-weight: $font-weight;
}