<head>
  <meta charset="UTF-8">

  <!-- Responsiveee -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- New META! -->
  <meta name="description" content="{% if page.layout == "post" %}{{ page.content | strip_html | normalize_whitespace | truncate: 140 | escape }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | uniq | join: ", " }}, {{ site.keywords | join: ", " }}{% else %}{{ site.keywords | join: ", " }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | remove_first:'/' | absolute_url }}" />
  {% if page.featured_image %}<meta property="og:image" content="{{ page.featured_image }}" />{% endif %}
  <meta property="og:description" content="{% if page.layout == "post" %}{{ page.content | strip_html | normalize_whitespace | truncate: 140 | escape }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.title %}<meta content="article" property="og:type" />{% else %}<meta property="og:type" content="website" />{% endif %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <title>
  {% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
  </title>

  <!-- Outworld Decorator -->
  <script>
    !function(a){"use strict";var b=function(b,c,d){function j(a){return e.body?a():void setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
  </script>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/lib/pure/pure-min.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/styles/krad.css" | relative_url }}">
  <noscript>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,700italic|Noto+Serif:400,400italic,700,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ "/assets/lib/pure/grids-responsive-old-ie-min.css" | relative_url }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="{{ "/assets/lib/pure/grids-responsive-min.css" | relative_url }}">
  <!--<![endif]-->
  </noscript>
  <script>
    loadCSS( "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" );
    loadCSS( "{{ "/assets/lib/pure/grids-responsive-min.css" | relative_url }}" );
    loadCSS( "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,700italic|Noto+Serif:400,400italic,700,700italic&subset=latin,vietnamese" );
  </script>
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">
</head>