<head>
  <meta charset="UTF-8">

  <!-- Responsiveee -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- New META! -->
  <meta name="description" content="{% if page.layout == "post" %}{{ page.content | strip_html | normalize_whitespace | truncate: 140 | escape }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | uniq | join: ", " }}, {{ site.keywords | join: ", " }}{% else %}{{ site.keywords | join: ", " }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | remove_first:'/' | absolute_url }}" />
  {% if page.featured_image %}<meta property="og:image" content="{{ page.featured_image }}" />{% endif %}
  <meta property="og:description" content="{% if page.layout == "post" %}{{ page.content | strip_html | normalize_whitespace | truncate: 140 | escape }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.title %}<meta content="article" property="og:type" />{% else %}<meta property="og:type" content="website" />{% endif %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <title>
  {% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
  </title>
  <!-- Outworld Decorator -->
  <!--<link rel="stylesheet" type="text/css" href="{{ "/assets/styles/krad.css" | relative_url }}">-->
  <style>
  {% capture styles %}{% include krad.scss %}{% endcapture %}
  {{ styles | scssify }}
  </style>
  {% include stylesheets.html async="true" %}
  <noscript>
    {% include stylesheets.html async="false" %}
  </noscript>
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">
</head>