<header class="header pure-g rm-wrapper" id="rm-nav">
	<div class="wrapper pure-u-1 pure-u-md-1">
	<div class="navbar pure-menu pure-menu-horizontal rm-can-transform">
		<ul class="navigation pure-menu-list">
			<li class="pure-menu-item"><a href="{{ "/archive" | relative_url }}" title="Back to Archive">@Krad</a></li>
			<li class="pure-menu-item"><a href="{{ "/about" | relative_url }}">About</a></li>
			<!--<li><a href="{{ "/archive" | relative_url }}">Archive</a></li>-->
			<li class="pure-menu-item"><a href="http://photo.tunglt.com">Photo</a></li>
			<li class="pure-menu-item"><a href="{{ "/contact" | relative_url }}">Contact</a></li>
			<!--<li class="pure-menu-item"><a href="{{ "/copypasta" | relative_url }}">Copypasta</a></li>-->
		</ul>
	</div>	
	</div>
</header>