<div class="sharing">
	<span>Share this post</span>
	<a class="btn-share btn-fb" href="https://www.facebook.com/dialog/feed?app_id=334951299891652
&display=popup&caption=Krad Weblog&link={{ page.url | prepend: site.non-ssl-url }}&redirect_uri={{ page.url | absolute_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a class="btn-share btn-tw" href="http://twitter.com/share?url={{ page.url | prepend: site.non-ssl-url }}" target="_blank"><i class="fa fa-twitter"></i></a>
	<a class="btn-share btn-gp" href="https://plus.google.com/share?url={{ page.url | prepend: site.non-ssl-url }}" target="_blank"><i class="fa fa-google-plus"></i></a>
	<a class="btn-share btn-pr" href="http://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.non-ssl-url }}&description={{ page.title }}" target="_blank"><i class="fa fa-pinterest"></i></a>
</div>