/* Main color scheme */
$color-yellow: #ffd300;
$color-green: #3cc32a;

$color-main: $color-green;
$color-main-lighter: lighten($color-main, 8);

/* Base colors */

$color-white: #fff;
$color-semiwhite: darken($color-white, 4);
$color-whitekey: darken($color-white, 14);

$color-black: #000;

$color-gray-darker: lighten($color-black, 13); //~222
$color-gray-dark: lighten($color-black, 20); //~333

$color-gray: lighten($color-black, 33); //~555

$color-gray-light: lighten($color-black, 46); //~777
$color-gray-lighter: lighten($color-black, 64); //~
$color-gray-smoke: lighten($color-black, 80); //~
$color-gray-milk: lighten($color-black, 93); //~eee

$color-primary: #3277b3;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

$color-facebook: #47639e;
$color-twitter: #55acee;
$color-googleplus: #db4437;
$color-pinterest: #cb2027;

/* Global colors */

$color-link: $color-main;
$color-link-hover: $color-gray;
$color-post-title: $color-gray-dark;
$color-post-title-hover: $color-main;