$font-family-serif: 'Noto Serif', serif;
$font-family-monospace: Monaco, "Courier New", monospace;
$font-family-georgia: "georgia", serif;
$font-family-sans-serif: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-size-main: 1rem;
$font-size-big: 1.125rem;
$font-size-bigger: 1.25rem;
$font-size-small: 0.875rem;
$font-size-smaller: 0.7rem;
$font-size-blockquote-mark: 4rem;

$font-ultra-bold: 900;
$font-extra-bold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;
$font-extra-light: 200;
$font-thin: 100;