/* Portfolio */
.portfolio {
  padding: 0 2px;
  list-style: none;
  li.cube {
    position: relative;
    color: $color-gray-smoke;
    -webkit-perspective: 1000px;
    perspective: 1000px;   
    .card-wrap {
      text-align: center;
      margin: 0;
      @include transition(transform, .33s);
      @include transform-style(preserve-3d);
    }
    img {
      width: 100%;
    }
    .flip {
      background: rgba(0,0,0,0.9);
    	height: 100%;
    	width: 100%;
    }
    .flop {
      @extend .flip;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.8rem;
      @include box-sizing(border-box);
      @include transform(rotateY(180deg));
      h2 {
        color: $color-gray-milk;
      }
    }
    &:hover {
      .card-wrap {
        @include transform(rotateY(-180deg));
      }
    }
  }
}