.post-title {
	color: $color-post-title;
	font-weight: $font-bold;
	letter-spacing: -.025em;
	padding: 0;
	margin-bottom: 0;
	a {
		@extend .post-title;
		&:hover {
			color: $color-post-title-hover;
		}
	}
}

.post-date {
	font-family: $font-family-georgia;
	font-style: italic;
	color: $color-gray-smoke;
	margin: 1.3em 0;
}

.post img {
	@extend .img-responsive;
}

.post-header.featured_image {
	background-size: cover;
	background-position: center center;
	margin: 0 0 3.2em;
	padding-bottom: 40%;
}

@media (max-width: 48em) {
    .post-header.featured_image {
		padding-bottom: 56%;
	}
}