---
layout: default
---

{% if page.featured_image %}
<div class="post-header featured_image" style="background-image:url({{ page.featured_image }});"></div>
{% endif %}
<article class="post wrapper">
  <h1 class="post-title">{{ page.title }}</h1>
  <p><time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time></p>
  {% include recommend.html %}
  {{ content }}
</article>
<div class="post-footer wrapper">
{% include sharing.html %}
<div class="fb-comments" 
      data-href="{{ page.url | absolute_url }}" 
      data-width="100%" 
      data-numposts="9" 
      data-colorscheme="light">
</div>
</div>