/* HTML and body */
html, .pure-g [class *= "pure-u"] {
	font-family: $font-family-serif;
	font-size: $font-size-main;
}

@media (min-width: 48em) {
    html {
        font-size: $font-size-bigger;
    }
}

::selection,  {
    background-color: $color-main-lighter; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background-color: $color-main-lighter; /* Gecko Browsers */
}

body {
	color: $color-gray-dark;
	background-color: $color-white;
	line-height: 1.618;
}

@media (max-width: 48em) {
    .wrapper {
        padding: 0 1.5rem;
    }
}

.pure-g {
    display: flex;
}

/* Global tags */
p { margin: 0 0 1.6rem; }

a {
    color: $color-link;
    text-decoration: none;
    @include transition(all, .2s, ease-in-out);
    &:hover {
        color: $color-link-hover;
    }
}

/* Helpers */
.text-center { 
    text-align: center; 
}
.sr-only {
    display: none;
}

.wrapper {
    max-width: $site-base-width;
    margin: 0 auto;
}

/* Miscellanous */
.tweets iframe {
    width: 100% !important;
}